body {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 550px;
}

/* Navbar */
nav {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 31px 27px;
  background-color: #21222a;
}

.nav-logo {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

.nav-logo-title {
  color: #61dafb;
  margin-right: auto;
  font-size: 23px;
}

.push-right {
  color: whitesmoke;
  font-size: 20px;
}

/* Main Content */

main {
  background: url("./assets/ReactFacts-icon1x.png");
  background-repeat: no-repeat;
  background-position: right 75%;
  background-color: #282d35;
  color: #ffffff;
  padding: 57px 27px;
  height: 100%;
}

.main-title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05px;
}

.facts-list {
  margin-top: 40px;
  max-width: 390px;
}

.facts-list > li {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 300;
}

.facts-list li::marker {
  color: #61dafb;
  font-size: 25px;
}
